$assetPath : "/assets/images";
$fallback-color : #333;
.home{
    height: 100%;
    background: $fallback-color;
}
.home-splash{
    height: 100%;
    background-color: $fallback-color !important;
    background: url(#{$assetPath}/home-splash.jpg) no-repeat center; 
    background-size: cover;
    color : #f5f5f5;
    text-align: center;

    .title{
        padding-top : 50px;
    }
    .game{
        position: absolute;
        bottom : 50px;
        left : 50%;
        transform: translateX(-50%);
    }
}



.get-started-btn{
    width: 150px;
    height: 40px;
    border-radius: 1px;
    font-size: 1.2em; 
}



@media(max-width : 34em){
    .home-splash{
        background: url(#{$assetPath}/splash-home-mobile.jpg) no-repeat center; 
    }
}