<div class="home">
<div class="home-splash">
    <!--<h1 class="title margin-top-0"> Game Of Thrones Fantasy League </h1>-->
    <h1 class="padding-top-50 margin-top-0"> The Iron Throne Awaits Its King & Queen </h1>
    <div class="game">
        
        <h3 class=""> Choose Your Team </h3>
        <h3 class="margin-top-30"> The Top Scorer will be crowned as The King of Seven Kingdoms </h3>

        <button class="margin-30 margin-top-50 btn btn-default get-started-btn" (click)="getStarted()"> Get Started </button>
    </div>
</div>
</div>
