<div class="game-play">
  <div class="container">
    <div class="row game-rules">
      <h1 class="title text-center"> Gameplay </h1>
      <ul class="gameplay"> 
        <li> User logs in / Signs up using Facebook. </li>
        <li> User selects 6 players from the available list of players. </li>
        <li> User has to select 1 player from Level 1 , Level 2 , Level 4 , Level 5 each. </li>
        <li> User has to select 2 players from Level 3. </li>
        <li> User saves the team for that week.</li>
        <li> User earns points for each action of the selected players in the episode. </li>
        <li> After the episode is telecasted and the points are calculated, Top 2 winners will be announced for the week.  </li>
        <li> At the end of the season , all the points will be added and the final winner will be crowned KING OR QUEEN OF SEASON 7. </li>
      </ul>
      
    </div>
  </div>
  <div class="clearfix"> </div>
</div>