<div class="height-100">
  <nav class="navbar navbar-inverse nav-fixed-top">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" routerLink="/"> GOT Fantasy League </a>
      </div>

  <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">
        <li><a routerLink="/leaderboard"> Leader Board </a></li>
        <!--<li><a routerLink="/game-play"> Gameplay </a></li>-->
        <li><a routerLink="/points-system"> Points System </a></li>
        <li><a routerLink="/get-started" *ngIf="!isUserLoggedIn"> Get Started </a></li>



        <li><a routerLink="/dashboard" *ngIf="isUserLoggedIn"> Dashboard </a></li>
        <li class="dropdown" *ngIf="isUserLoggedIn">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Hi {{username}} &nbsp; <img [src]="imageUrl" width="25px" height="25px" alt="User Profile" /> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="logout" (click)="logout()"> Logout </a></li>
          </ul>
        </li>
      </ul>
  </div>

    </div>
  </nav>
  <router-outlet></router-outlet>
</div>