$assetPath : "/assets/images";

.height-100{
    height: 100%;
}

.navbar{
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    background: #333;
    background: url(#{$assetPath}/bg-pattern.jpg) no-repeat center; 
    border: none
}

.logout{
    cursor: pointer;
}

.btn{
    border-radius: none !important; 
}

.padding-left-0{
    padding-left: 0 !important;
}