.leaderboard{
    background: #333;
}

.leaders{
    background: #fff;
    width: 100%;
    min-height: 500px;
    margin: 50px 0;
}

.title{
    color : #333;
}

.w-100 {
    width: 100%;
}

.nav-tabs > li {
    width: 50%;
    text-align: center;
}

.nav-tabs > li > a {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-color: #eee #eee #ddd;
    background-color: #eee;
}


.nav-tabs > li.active > a {
    background-color: #555;
    color: #fff;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.tab-header-text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: inherit;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    text-align: center;
}


// Table
.table>thead>tr>th {
    border-bottom: 2px solid #333;
}

.current-user {
    background-color: #ddd;
}



// Select Episode
.mt-15 {
    margin-top: 15px;
}

.select-text {
    line-height: 30px;
    text-align: right;
}
.mat-select-trigger {
    width: 200px;
}
.w-200 {
    min-width: 200px;
}